includes:
    - .Build/vendor/saschaegerer/phpstan-typo3/extension.neon
parameters:
    level: max
    paths:
        - "%currentWorkingDirectory%/Classes"
        - "%currentWorkingDirectory%/Configuration"
        - "%currentWorkingDirectory%/scheduler"
        - "%currentWorkingDirectory%/sanitizer"
        - "%currentWorkingDirectory%/srv"
    bootstrap: %rootDir%/../../saschaegerer/phpstan-typo3/src/PhpstanTypo3Bootstrap.php

